@charset "UTF-8";

.wrap{
	height: 100%; width: 100%; 
	position: absolute;  
} 

.wrap div{
	width: 800px; 
	top: 200px; left: 350px;
	position: relative;
	text-align: center; padding-top: 50px;
}
.btnbox{height: 100px;}
.btn{
	width: 130px; font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	background-color: transparent; padding: 15px;
	transition: all 0.3s linear;
}
.namebox{
	font-family: 'Ubuntu', sans-serif;
	background-color: black; color: white;
	font-size: 30px; height: 50px; padding-bottom: 25px;
}

.btn:hover{
	background-color: black; color: #fff;
}


