@charset "UTF-8";

/*
	[사용한 주요 기능]
	1. flex를 이용한 가로 배치와 justify-content로 정렬
	2. 웹 폰트 - 한글(눈누), 영문(구글폰트)
	3. filter로 배경 이미지 어둡게 설정
	4. 아이콘 폰트 - 페이스북, 구글 등
	5. box-shadow - 떠있는 느낌을 주기 위한 그림자 효과
	6. 가상요소 - select의 아래 방향 화살표 아이콘
*/

/* 웹 폰트 - 한글(눈누), 영문(구글폰트) */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{ font-family: 'GangwonEdu_OTFBoldA'; }

.main_signup{ margin: 0 auto; }

/* css 기본 설정 */
*{ margin : 0; padding: 0; font-family: 'GangwonEdu_OTFBoldA'; }
a{ text-decoration: none; color: black; }
a:hover{ color: #393B44; }
li{ list-style-type: none; }

/* 페이지 실제 사이즈 */
.box{ width: 1200px; margin: 0 auto; position: relative; }
/* ------------------------ 헤더 ----------------------------*/
#header{ height: 120px; background: white; }
.logo{ position: absolute; top:20px; left: 20px; }
.hd_img{ width:90px; height: 80px; } /* 로고이미지 */

.menus{ float: right; text-align: right;}
.menus li{ display: inline; }
.top_menu{ margin: 30px 0px;}
.main_menu{ background: #D6E0F0; padding: 10px; }
.main_menu li a{
	font-size: 20px; margin-left: 100px; 
}

/* ----------------- 본문 ----------------- */
.wrap{ width: 100%; height: 800px; text-align: center; background-color: #8d93ab; }
.signup_wrap{ 
	width: 80%; height:750px; margin: 0 auto; 
	padding-top:50px;
}
.signup_box{ 
	width: 70%; height:99%; margin: 0 auto; display: flex; 
	background-color: white; box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
	position: relative;
}

/* 이미지 */
.signup_box .signup_img{ 
	background-image: url("../image/restaurant.jpg"); 
	width: 40%; height: 100%;
	background-size: cover;	
    background-repeat: no-repeat;
    filter: brightness(50%);		/* 배경 어둡게 */

}
.logo_img{
	width: 50px; height:40px; position: absolute;
	right: 5px; top: 5px;
}


/* 입력란 */

.signup_input_box{
	width: 600px;
	text-align: left;
	padding-top: 40px;
}
.input_box_title{ width: 100%; height:90px; text-align: center; }
.heading{ color: #d6e0f0; font-size: 2rem; padding:10px; font-family: 'Noto Serif HK', serif;  }
.heading strong{ color: #8d93ab; font-family: 'Noto Serif HK', serif; }

table {
	margin:0 auto;
	border-collapse: separate;
	border-spacing: 0 10px;
}
td{ height: 30px; padding-top: 8px; padding-bottom: 8px; padding-left: 12px; border: 1px solid #d6e0f0; }
.signup_input_items{ padding:15px; }
.signup_input{ margin: 5px; }
.title{ width: 130px; }
.input_field{ margin-right: 45px; }

/* 체크박스 상자 */
.email_field{ display: flex; }
.select_box{
	position: relative;
}
.select_box::after{
	display: inline-block;
	position: absolute;
	right: -20px;
	font-family: 'Font Awesome 5 Pro';
	font-weight: 900;
	content: '\f078';		/* 아래 방향 화살표 아이콘 */
	color: #bbb;
}

.input_birth{ width: 350px; height: 100%; }
.birth_item{ margin-right: 15px; }
.signup_year, .signup_month, .signup_day{ width: 50px; vertical-align: top; text-align: right; }

/* 회원가입 버튼 */
.btn_box{ text-align: center; margin-top: 30px; margin-bottom: 40px; }
.btn{ width: 70%; height:45px; font-weight:bold; background-color: #8d93ab; color: #f1f3f8; }

/* sns */
/* flex를 이용한 가로 배치와 justify-content로 정렬 */
.signup_sns{
	display: flex;
	justify-content: center;
}
.signup_sns h3{ margin-right: 10px; color: #8d93ab; font-family: 'Noto Serif HK', serif; }
.sns_items{ display: flex; }
.sns_items li{ margin-right: 5px; color: #8d93ab; }


/* ----------------------- 푸터  ------------------------ */
#footer{ 
	clear: both;
	background-color:#393B44; /* 배경색 */
	color: white;   /* 글자색 */
	height: 250px;
	padding: 50px;
}
.ft_item{
	float: left;
	width: 380px;
	margin-top: 50px;
}
.ft_item li{ display: inline; }
.ft_item ul{ margin-bottom: 20px; font-size: 20px; }
.ft_item a:hover{ color: #F1F3F8; }


.ft_sns{
	display: inline-block;
	width: 380px;
	margin-top: 50px;
	text-align: center;
}
.ft_sns img{ margin-left: 15px;}