@charset "UTF-8";



/*--------------------------메뉴페이지 전체-----------------------------*/
.menu_main{ 
	width: 1200px; margin: 0 auto; text-align: center;}

/*제목 부분*/
.menu_title{
	font-family: 'Noto Serif HK', serif; 
	background-color: #8D93AB;
	
	padding: 15px 0 20px 0;
}

.menu_title h1{
	font-size: 80px; margin-bottom: 15px;
}
.menu_title h3{
	width: 200px; margin: 0 auto;
	font-size: 25px; border-top: 3px solid #393B44;
	padding-top: 10px;
}

	
/*내용 전체 부분*/
.menu_content{
	display: flex; justify-content: space-around;
	background-color: #F1F3F8;
	padding-bottom: 100px; padding-top: 45px;
}



/*-----------내용 섹션 부분---------------------*/
.menu_content_left,.menu_content_center,
.menu_content_right{
	width: 250px;
	margin: 50px 0;
	outline: 3px solid #8D93AB;
	outline-offset: 20px;
	
}


.menu_content_left{margin-left: 70px;}
.menu_content_right{margin-right: 60px;}

/*lunch dinner beverage 제목*/
.sub_title{ 
	font-size: 40px; font-family: 'Noto Serif HK', serif;
	padding: 15px 0; border-bottom: 4px solid #D6E0F0;
	width: 200px; margin: 0 auto;
}

/*메뉴 이미지*/
.menu_content img{width:280px; height: 250px; padding-right: 27px;}
.image_box{
	margin: 20px 0;

}

/*메뉴 설명 부분*/
.menu_description{font-size: 20px; font-family: 'GangwonEdu_OTFBoldA'; }
.menu_description li{padding: 15px;}
