@charset "UTF-8";

.mainbox{
	width: 1200px;
	margin: 0 auto;
}
.title h3{
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	color: #D4ECDD;
}
.cal{
	width: 780px;
	background-color: #FEFCFF;
	background-color:transparent;
	border-radius : 5%;
	margin-left : 210px;
	margin-right : 210px;
	text-align : center;
	align-items: center;
	align-content: center;
}

.head{
	display: flex;
	margin : 0 auto;
	height: 100px;
	align-items: center;
	background-color: rgba( 11, 36, 39, 0.2 );
}
.monthTitle{
	width:300px;
	font-size: 40px;
	font-style: italic;
}

.left_btn{
	text-align : center;
	width : 240px;
	font-size: 70px;
	font-weight: bold;
	color: #345B63;
}
.right_btn{
	text-align: center;
	width : 240px;
	font-size: 70px;
	font-weight: bold;
	color: #345B63;
}

.reservation{
	margin: 110px 0 ;
	border: 3px solid #FAF1E6;
	border-radius : 6% ;
	outline : 3.5px double #F9A720;
	outline-offset : 10px;	
	background-color: rgba( 255, 255, 255, 0.6 );
	box-shadow: 10px 5px 5px gray;
}


.reservation h3{
	width : 1200px;
	font-size: 50px;
	color: #455655;
	text-align: center;
	font-weight: bold;
}
.reservation_box{
	display: flex;
}
.re_inform{
	margin-left : 50px;
	writing-mode: vertical-rl;
	text-orientation: upright;
}
.li1{
	font-size: 23px;
	margin-right : 20px;
	letter-spacing:10px;
	
}
.li2{
	border-right : 2px solid #F9A720;
	padding-right : 20px;
	margin-bottom : 220px;
	margin-right : 20px;
	font-size: 30px;
	font-weight: bold;
}

.re_inform2{
	margin-left: 110px;
}
.li3, .li4, .li5{
	font-size: 25px;
	margin: 55px 0;
	font-weight: 500;
}

.li5{
	font-size : 22px;
	line-height: 40px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ W E E Kㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ W E E Kㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ W E E Kㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.week{
	display: flex;
	flex-wrap: wrap;
}
.week div{
	width : 99.4px;
	height : 100px;
	font-style: italic;
	color: black;
	font-weight: bold;
	margin: 5px;
	background-color: #FFF;
	background-color: rgba( 255, 255, 255, 0.9 );
	text-align: center;
	line-height: 90px;
	box-shadow: 6px 3px 3px gray;
}
.week div:nth-child(1){
	color: red;
}
.week div:nth-child(7){
	color: blue;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ D A Y ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ D A Y ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ D A Y ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */	
.days{
	display: flex;
	flex-wrap: wrap;
}
.days div{	
	width : 99.4px;
	height : 100px;
	text-align: left;
	margin: 5px;
	background-color: #FFF;
	font-weight: bold;
	font-style : italic;
	font-size: 18px;
	border-radius: 8%;
	background-color: rgba( 255, 255, 255, 0.7 );
	box-shadow: 6px 3px 3px gray;
	
}
.days div:nth-child(1){
	color : red;
}
.days div:nth-child(8){
	color : red;
}
.days div:nth-child(15){
	color : red;
}
.days div:nth-child(22){
	color : red;
}
.days div:nth-child(29){
	color : red;
}

.days div:nth-child(7){
	color : blue;
}
.days div:nth-child(14){
	color : blue;
}
.days div:nth-child(21){
	color : blue;
}
.days div:nth-child(28){
	color : blue;
}
.days div:nth-child(35){
	color : blue;
}

.today{
	border : 4px solid #F9A720;
	color: black;
	font-weight : bold;
}
#prevDay{
	border : 1px dashed gray;
	color: gray;
	font-size: small;
}
#prevDay:nth-child(1){
	color: gray;
}

#nextDay{
	border : 1px dashed gray;
	color: gray;
	font-size: small;
}


li button{
	font-size: 15px;
}
li button:hover{
	border-bottom:1px dotted black;
	font-weight: bold;
}
ul h2{
	padding-top: 15px;
	font-size: 22px;
	font-weight: bold;
}

li button::before{
	font-family: "Font Awesome 5 Pro";
	content : '\f274';
	font-size: 1rem;
	font-weight: 900;
	margin-right: 7px;
}

/* ----------------------- 예 약 게 시 글  ------------------------ */
/* ----------------------- 예 약 게 시 글  ------------------------ */
/* ----------------------- 예 약 게 시 글  ------------------------ */

.reser_section{
	width: 1200px;
	margin: 0 auto;
	font-size: 50px;
	margin-bottom: 50px;
	border: 1px solid gray;
}
.reserbox{
	padding-top: 50px;
}
.reser_form button{
	border : 2px solid white;
	background-color : white;
	margin: 0 auto;
	width: 300px;
	margin-left: 450px;
	margin-bottom: 30px;
}

#list{
	width: 1200px;
	margin: 0 auto;
	font-size: 40px;
	vertical-align: middle;
	text-align: center;
}

.inputbox{
	text-align: center;
	align-items: center;
}

table{
	text-align: center;
	margin-bottom: 100px;
}

.when{
	color: skyblue;
}



