@charset "UTF-8";

*{ font-family: 'GangwonEdu_OTFBoldA'; }

.main_signup{ margin: 0 auto; }

/* ----------------- 본문 ----------------- */
.wrap{ width: 100%; height: 800px; text-align: center; background-color: #8d93ab; }
.signup_wrap{ 
	width: 80%; height:750px; margin: 0 auto; 
	padding-top:50px;
}
.signup_box{ 
	width: 70%; height:99%; margin: 0 auto; display: flex; 
	background-color: white; box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
	position: relative;
}

/* 이미지 */
.signup_box .signup_img{ 
	background-image: url("../image/restaurant.jpg"); 
	width: 40%; height: 100%;
	background-size: cover;	
    background-repeat: no-repeat;
    filter: brightness(50%);		/* 배경 어둡게 */

}
.logo_img{
	width: 50px; height:40px; position: absolute;
	right: 5px; top: 5px;
}


/* 입력란 */

.signup_input_box{
	width: 600px;
	text-align: left;
	padding-top: 40px;
	padding-left: 30px;
}
.input_box_title{ width: 100%; height:90px; text-align: center; }
.heading{ color: #d6e0f0; font-size: 2rem; padding:10px; font-family: 'Noto Serif HK', serif;  }
.heading strong{ color: #8d93ab; font-family: 'Noto Serif HK', serif; }

table {
	margin:0 auto;
	border-collapse: separate;
	border-spacing: 0 10px;
}
td{ height: 30px; padding-top: 8px; padding-bottom: 8px; padding-left: 12px; border: 1px solid #d6e0f0; }
.signup_input_items{ padding:15px; }
.signup_input{ margin: 5px; }
.input_box{width: 350px;}
.title{ width: 130px; }
.input_field{ margin-right: 45px; }

/* 체크박스 상자 */
.email_field{ display: flex; }
.select_box{
	position: relative;
}
.select_box::after{
	display: inline-block;
	position: absolute;
	right: -20px;
	font-family: 'Font Awesome 5 Pro';
	font-weight: 900;
	content: '\f078';		/* 아래 방향 화살표 아이콘 */
	color: #bbb;
}

.input_birth{ width: 350px; height: 100%; }
.birth_item{ margin-right: 15px; }
.signup_year, .signup_month, .signup_day{ width: 50px; vertical-align: top; text-align: right; }

/* 회원가입 버튼 */
.btn_box{ text-align: center; margin-top: 30px; margin-bottom: 40px; }
.signBtn{ width: 70%; height:45px; font-weight:bold; background-color: #8d93ab; color: #f1f3f8; }

/* sns */
/* flex를 이용한 가로 배치와 justify-content로 정렬 */
.signup_sns{
	display: flex;
	justify-content: center;
}
.signup_sns h3{ margin-right: 10px; color: #8d93ab; font-family: 'Noto Serif HK', serif; }
.sns_items{ display: flex; }
.sns_items li{ margin-right: 5px; color: #8d93ab; }

/*------------ 유효성 부분 ---------------*/
.check{
	font-size: 13px;
	color: red;
}
.fa-check{color: green;}
