@charset "UTF-8";

li{list-style-type: none; display: inline-block;}
.wrap{background-color: #F5F5DC; width: 100vw; height: 100vh;}

.header{
	width: 100%; display: flex;  justify-content: space-around;
	font-family: 'Josefin Sans', sans-serif; font-size: 20px;
}

.menu{font-size: 20px;}
.menu li{margin-right: 20px; color: #4682B4; font-weight: bold;}

.icon i{
	color: #4682B4;
	width: 30px;
}
.fa-bars{color: #F5F5DC;}


@media(max-width:600px) {
	
	.header{
		width: 300px; height: 100vh;
		display: flex; flex-direction: column; background-color: white;
		border: 1px solid solid;
	}
	.header{display: none;}/*css는 동일하면 밑에거가 먹힘!*/
	.logo{text-align: center;}
	.menu li{display: block; padding: 20px 0;}
	.menu li:hover{
		transition: all 0.3s linear; background-color: #ADD8E6;
	}
	
	.wrap{display: flex; }
	
	
	.fa-bars{
		color: black; font-size: 30px; 
		cursor: pointer;  position: relative; top: 10%; left: 50%;
		width: 150px; height: 150px;
	}
	
}