@charset "UTF-8";

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

/* css 기본 설정 */
*{
	margin : 0;
	padding: 0;
	font-family: 'GangwonEdu_OTFBoldA';
}
a{ text-decoration: none; color: black; }
a:hover{ color: #393B44; }
li{ list-style-type: none; }

/* 페이지 실제 사이즈 */
.box{ width: 1200px; margin: 0 auto; position: relative; }


/* ------------------------ 헤더 ----------------------------*/
#header{ height: 120px; background: white; }
.logo{ position: absolute; top:20px; left: 20px; }
.hd_img{ width:90px; height: 80px; } /* 로고이미지 */

.menus{ float: right; text-align: right;}
.menus li{ display: inline; }
.top_menu{ margin: 30px 0px; }
.main_menu{ background-color: #D6E0F0; padding: 10px; }
.main_menu li a{
	font-size: 20px; margin-left: 100px; 
}

/*----------------- 배너 (소개 이미지) ------------------------------*/
body{
	color: #393B44; font-family:'GangwonEdu_OTFBoldA';
	background-image: url("images/bg.svg");
}
header{
	max-width: 1200px; /* 최대 가로 사이즈 1000 */
	margin: 2.5rem auto 0;
	background-image: rul("images/header.svg");
	background-repeat: no-repeat; /* 자동 채우기 제거 */
	background-position: cecnter top; /* 배경 위치*/
	background-size: cover; /* 배경 사이즈 */
	height: 130px;
}
.page_title{
	font-size: 30px;
	font-family: 'GangwonEdu_OTFBoldA';
	text-align: center;
	margin: 20px 0px;
}
.page_desc{
	text-align: center;
	margin-top: 10px;
	
}
/*------------------------ container --------------------------*/
.container{
	max-width: 750px;
	margin: 0 auto; /* 가운데정렬 */
	background-color: #ffffff;
	border-radius: 0 0 10px 10px;
	display: flex;
}

/*--------- 선생님 피드백으로 레이아웃 변경 및 CSS 변경 ---------*/
.topPost{ width: 100%; text-align: center; margin-top:50px; margin-bottom: 200px; }
.post{ width: 1200px; display: flex; margin-top: 60px; }
.post2{ margin-bottom: 100px; }
.post div{ width: 33%; margin-right: 30px; }
.post_title{
	
	background-size: 5px 6px;
	margin-bottom: 5.5rem;
	display: inline-block;
}



.post_title h2{
	background-color: #393B44; 
	padding:  0 0.5rem .875rem;
	font-size: 1.5rem; /* 폰트 사이즈 */
	font-family: 'GangwonEdu_OTFBoldA'; /* 폰트 */
	font-weight: 250; /* 폰트 굵기 */	
	line-height: 1.5;	/* 줄 간격 */
}
.post_title a{
	color : #393B44;
	text-decoration: none; /* 링크 밑줄제거 */
}
/*------------------------------------------*/
.post_img{
	width : 100%;
	height: 260px; /* 고정 높이 -> 비율이 깨짐 */
	object-fit : cover;
	border-radius: 40% 70% 50% 30% / 50%;
				/* 각각의 가로      /  세로 : 50% 통일 */
				 
}
.post_img2{
	width : 220px;
	height: 180px; /* 고정 높이 -> 비율이 깨짐 */
	object-fit : cover;
	border-radius: 40% 70% 50% 30% / 50%;
				/* 각각의 가로      /  세로 : 50% 통일 */
	float: right;
				 
}
.post_img4{
	width : 220px;
	height: 180px; /* 고정 높이 -> 비율이 깨짐 */
	object-fit : cover;
	border-radius: 40% 70% 50% 30% / 50%;
				/* 각각의 가로      /  세로 : 50% 통일 */
	float: right;
				 
}
.post_thumb{
	position: relative;
	display: flex;
}


/* ----------------------- 푸터  ------------------------ */
#footer{ 
	clear: both;
	background-color:#393B44; /* 배경색 */
	color: white;   /* 글자색 */
	height: 250px;
	padding: 50px;
}
.ft_item{
	float: left;
	width: 380px;
	margin-top: 50px;
}
.ft_item li{ display: inline; }
.ft_item ul{ margin-bottom: 20px; font-size: 20px; }
.ft_item a:hover{ color: #F1F3F8; }


.ft_sns{
	display: inline-block;
	width: 380px;
	margin-top: 50px;
	text-align: center;
}
.ft_sns img{ margin-left: 15px;}




/*------------------------------------------*/

/* 미디어쿼리 : 디바이스 크기에 따라 css 설정 */
@media( min-width : 1200px)  { /* 가로사이즈 1200px 이상일때 반응형 */
	.container{
		display: flex;
		justify-content: space-between;
	}
	main{
		width: 100%;
	}	
	aside{
		width: 26%;
	}
	.post_img{	/* 이미지 고정 사이즈 -> 비율이 깨짐 */
		width: 220px;
		height: 180px;
	}
	.post_thumb{
		margin : 0 3rem 1rem 0;
		shape-outside : circle();
		float: left;
	}
	.post .post_thumb{
		margin : 9px 8rem 1rem 0;
		shape-outside : circle();
		float: left;
	}
	
	
	/* 
		min-width : 600px;  : 최소 가로사이즈 600px 
		[ 600px 이상에서 사용되는 css ]
		max-width : 600px;	: 최대 가로사이즈 600px;
		[ 600px 이하에서 사용되는 css ] 
		
		min-height : 600px; : 최소 세로사이즈 
		max-height : 600px;	: 최대 세로사이즈
	*/
	

}