@charset "UTF-8";


/*
#F1F3F8
#D6E0F0
#8D93AB
#393B44
*/


@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* css 기본 설정 */

*{ margin : 0; padding: 0;}


li{ list-style-type: none; }
.box{ width: 1200px; margin: 0 auto; position: relative; }
/* ------------------------ 헤더 ----------------------------*/
#header{ height: 120px; background: white; font-family: 'GangwonEdu_OTFBoldA';}
.logo{ position: absolute; top:20px; left: 20px; }
.hd_img{ width:90px; height: 80px; } /* 로고이미지 */

.menus{ float: right; text-align: right;}
.menus li{ display: inline; }
.top_menu{ margin: 30px 0px;}
.main_menu{ background: #D6E0F0; padding: 10px;}
.main_menu li a{
	font-size: 20px; margin-left: 100px; 
}


/*----갤러리 전체 박스-----------*/


.gallery_box{clear:both; width: 1200px; margin: 0 auto;}

/*----갤러리 타이틀-----------*/
.gallery_main_title{
	height: 150px;
	background-color: #D6E0F0;
	font-family: 'Noto Serif HK', serif; 
	font-size: 60px; padding-top: 40px;
	text-align: center;
	
}

.gallery_sub_title{
	font-family: 'GangwonEdu_OTFBoldA';
	font-size: 20px; padding: 20px 0 10px 20px;
}


/*-------갤러리 메인컨텐츠-----------------*/
.gallery_content{
	background-color: #F1F3F8;
	padding: 10px 0 20px 30px;
}

.gallery_imgs img{
	height:200px; width: 230px;
	}

.gallery_imgs div{
	box-shadow: 0 2px 10px #393B44; 
}


	/*테이블 박스 크기 조절*/
.gallery_imgs{
	text-align: center;
	margin: 25px 25px 20px 25px;
	
}

.gallery_imgs td {	padding: 0 20px  20px 20px; }


.g_imgs_col1 td, .g_imgs_col2 td,
 .g_imgs_col3 td, .g_imgs_col4 td, 
 .g_imgs_col5 td{
	position: relative;
}


.divs{
	display: none;
	position: absolute;
	top: 70px; left: 65px;
	font-family: 'GangwonEdu_OTFBoldA';
	font-size: 25px;
}

.content_icon{
	position: absolute;
	top:75px;
	right: 10px;
	font-size: 35px;
}

/*------페이지네이션----------*/
.pagination{
	clear: both; font-size: 35px;
	font-family: 'GangwonEdu_OTFBoldA';
	text-align: center;
}
.pagination a:hover{
	color: #393B44;
}


.pagination li{
	display: inline-block;
	color: #8D93AB;
	padding-left: 5px;
}

.current{
	font-size: 45px;
	color: #393B44;
}

/*------아이콘--------*/
.pagination_icon::after{
	font-family: "Font Awesome 5 Pro";
	content: '\f101';
	font-weight: 900;
	
}


.content_icon::before{
	font-family: "Font Awesome 5 Pro";
	content: '\f00e';
	font-weight: 900;
	
}

.gallery_sub_title p::before{
	font-family: "Font Awesome 5 Pro";
	content: '\f00c';
	font-weight: 900;
	padding-right: 10px;
}


/* ----------------------- 푸터  ------------------------ */
#footer{ 
	clear: both;
	background-color:#393B44; /* 배경색 */
	color: white;   /* 글자색 */
	height: 250px;
	padding: 50px;
	font-family: 'GangwonEdu_OTFBoldA';
}
.ft_item a{color: black;}
.ft_item{
	float: left;
	width: 380px;
	margin-top: 50px;
}
.ft_item li{ display: inline; }
.ft_item ul{ margin-bottom: 20px; font-size: 20px; }
.ft_item a:hover{ color: #F1F3F8; }


.ft_sns{
	display: inline-block;
	width: 380px;
	margin-top: 50px;
	text-align: center;
}
.ft_sns img{ margin-left: 15px;}