@charset "UTF-8";

/*전체박스는 부트스트랩 container 사용 하거나 할 예정*/


/* h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
 */


.gameboard {/*게임판 전체*/
	padding-left: 50px;
	padding-right: 50px;
}

.boardbox { /*게임판 박스*/
	display: grid;
	grid-template-columns: 125px repeat(9, 80px) 125px; /*각각 그리드비율 정하기*/
	grid-template-rows: 125px repeat(9, 80px) 125px;
	grid-gap: 2px;	/*그리드간 간격*/
	margin: 50px auto;
	width: 994px;
	height: 994px;
	/* background: #black; */
	border: 2px solid black;
}

.b_center { /*게임판 가운데*/
	grid-column: 2 / 11;
	grid-row: 2 / 11;
	/* background: $board; */
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
	justify-items: center;
	align-items: center;
}


.gameTitle { /*게임판 가운데 게임명*/
	grid-column: 1 / 9;
	grid-row: 4;
	font-size: 90px;
	font-weight: 400;
	letter-spacing: 12px;
}

.center_deck1 {
	grid-column: 2 / 4;
	grid-row: 2 / 4;
	transform: rotate(135deg);
	margin-bottom: 60px;
	margin-right: 60px;
}

.center_deck2 {
	grid-column: 5 / 7;
	grid-row: 5 / 7;
	transform: rotate(315deg);
	margin-top: 60px;
	margin-left: 60px;
}

.center_t {
	text-align: center;
	font-weight: 500;
	letter-spacing: 3px;
	padding-bottom: 10px;
}

.deck {
	border: 2px dashed black;
	width: 160px;
	height: 120px;
}


.row {
	display: grid;
	grid-gap: 2px;
}

.horizontal-row { /*가로 게임칸*/
	grid-template-columns: repeat(9, 80px);
	grid-template-rows: 125px;
}

.vertical-row {  /*세로 게임칸*/
	grid-template-columns: 125px;
	grid-template-rows: repeat(9, 80px);


}
.vertical-row .g_space{
	top: 50%;
	left: 50%;
}
.bottom-row {/*아랫줄*/
	grid-column: 2 / 11;
	grid-row: 11;
}

.left-row { /*왼쪽*/
	grid-column: 1;
	grid-row: 2 / 11;


}
.left-row .g_space{
	transform: translate(-50%, -50%) rotate(90deg);
}


.top-row { /*윗 줄*/
	grid-column: 2 / 11;
	grid-row: 1;


}
.top-row .g_space{
	transform: rotate(180deg);
}

.right-row { /*오른쪽*/
	grid-column: 11;
	grid-row: 2 / 11;


}
.top-row .g_space{
	transform: translate(-50%, -50%) rotate(270deg);
}

.g_space {
	display: flex;
	flex-direction: column;
	justify-content: g_space-between;
	position: relative;
	transform-origin: center;
	height: 125px;
	width: 80px;
}

.name,
.instructions {
	padding-left: 15px;
	padding-right: 15px;
}

.price {
	font-size: 7px;
	font-weight: 400;
	padding-bottom: 5px;
}

.corner .g_space  {
	
		justify-content: g_space-around;
		height: 100%;
		width: 100%;
}

.g_space .name {
		padding: 0;
	
}

.property .color-bar {
	
		height: 25px;
		border-bottom: 2px solid black;
}

.property	.name {
		padding-bottom: 50px;
	
}

.railroad  .name{
	 
		padding-top: 10px;
}

.railroad	.drawing {
		font-size: 60px;
		color: black;
	
}

.utility .name{
	 
		padding-top: 10px;
}

.utility	.drawing {
		font-size: 70px;
	
}

.fee  .name{
	 
		padding-top: 10px;
		font-size: 14px;
}

.fee .instructions {
		font-size: 10px;
	
}


/* // Specific g_spaces

.go {
	grid-column: 11;
	grid-row: 11 / 12;
	position: relative;

	.g_space {
		justify-content: flex-start;
		transform: rotate(315deg);
	}

	.instructions {
		padding: 0 30px;
	}

	.go-word {
		font-size: 60px;
		color: #red;
	}

	.arrow {
		font-size: 45px;
		color: #red;
		position: absolute;
		bottom: -10px;
		left: 5px;
	}
}

.jail {
	grid-column: 1;
	grid-row: 11 / 12;
	display: grid;
	grid-template-columns: repeat(10, 12.5px);
	grid-template-rows: repeat(10, 12.5px);
	justify-content: center;
	align-items: center;

	.drawing {
		grid-column: 4 / 11;
		grid-row: 1 / 8;
		width: 87.5px;
		height: 87.5px;
		background: #orange;
		border-bottom: 2px solid #black;
		border-left: 2px solid #black;
	}

	.just {
		grid-column: 3;
		grid-row: 4;
		transform: rotate(90deg);
		padding-top: 5px;
	}

	.visiting {
		grid-column: 6;
		grid-row: 8;
		padding-top: 5px;
	}

	.g_space {
		align-items: center;
		transform: rotate(45deg);
	}

	.name {
		font-size: 14px;
	}

	.window {
		display: flex;
		justify-content: g_space-around;
    align-items: center;
		position: relative;
		width: 55px;
		height: 55px;
		background: #board;
		border: 2px solid #black;
	}

	.person {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		font-size: 40px;
	}

	.bar {
		height: 55px;
		width: 2px;
		background: #black;
	}
}

.free-parking {
	grid-column: 1;
	grid-row: 1 / 2;

	.g_space {
		justify-content: center;
		transform: rotate(135deg);
	}

	.name {
		font-size: 16px;
	}

	.drawing {
		font-size: 60px;
		color: #red;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.go-to-jail {
	grid-column: 11;
	grid-row: 1 / 1;

	.g_space {
		justify-content: center;
		transform: rotate(225deg);
	}

	.name {
		font-size: 16px;
	}

	.drawing {
		font-size: 60px;
		color: #brown;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.chance {
	.g_space {
		justify-content: center;
	}

	.drawing {
		font-size: 90px;
		color: #red;
	}

	.blue {
		color: #dark-blue;
	}
}

.community-chest {
	.g_space {
		justify-content: g_space-around;
	}

	.drawing {
		font-size: 50px;
		color: #light-blue;
	}

	.instructions {
		font-size: 8px;
	}
}

.electric-company {
	.drawing {
		color: #yellow;
	}
}

.waterworks {
	.drawing {
		color: #dark-blue;
	}
}

.income-tax {
	.g_space {
		justify-content: center;
		align-items: center;
	}

	.name {
		padding-bottom: 5px;
	}

	.diamond {
		width: 5px;
		height: 5px;
		background: #black;
		transform: rotate(45deg);
		display: inline-block
	}

	.instructions {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.luxury-tax {
	.drawing {
		font-size: 50px;
	}

	.instructions {
		padding-bottom: 5px;
	}
}


// =================
// UTILITY
// =================

.long-name {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.three-line-name {
	position: relative;
	top: 5px;
}  */